#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.graph{
    height: 810px;
    width: 1440px;
    background-color: #2a2b32;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5rem;
}

.house{
    background-color: white;
    color: black;
    padding: 2rem;
    text-align: center;
}